
.env*

# .NET build folders
bin/
obj/

# Build output artifacts
*.dll
*.exe
*.pdb
*.cache
*.db
*.db-wal
*.db-shm

# Razor/C# build caches
*.dswa.cache.json
*.sourcelink.json

# Apphost
apphost.exe

# VSCode
.vscode/
