.reset {
  all: unset;
  display: block;
}


.section {
  padding: 120px 0;
}

.heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 28px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}